This file tries to read the output from CCID as given in xlsx files by Liying. However, as I have emailed her, and got no reply, the format which segments each data **POINT** into a separate **SHEET** is extremely cumbersome to deal with. Since each sheet has a fixed format, a data point should simply be represented as a row in the table, which each attribute as a column. If possible at all, I'd love the neural network team to reformat the output of the algorithm.

Anyway, here's my attempt at consuming it.

In [1]:
import pandas as pd

In [20]:
sheets = pd.read_excel('data/Fall 2014.xlsx', sheet_name=None)

In [42]:
class_config_list = []
for section_num in sheets.keys():
    ratio = sheets[section_num].iloc[1:,-2]
    ratio.name = section_num
    class_config_list.append(ratio)
class_config_2014_fall = pd.DataFrame(class_config_list)
class_config_2014_fall.columns = ['empty', 'groups', 'lecture', 'round']

In [43]:
class_config_2014_fall

         empty  groups  lecture  round
10205       33     202       42      1
10536        0      11      210      0
10791      149      84       41      4
10820        8     120      122      3
10954      188      17       21      0
11025        5      60      134     29
11026        3      16      120     35
11052       10     109      142      0
11052_2     20     114      101      0
11055        7       5      100      0
11187       49      46      130      8
11200        6      17      108      0
11254        4      55       17     12
11407      127      53       14     88
11420       15      45      221      0
11440        6       5      111    113

In [44]:
df = class_config_2014_fall
frames_count = df.sum(axis=1)
for col in df.columns:
    df[col] /= frames_count
df.mean()

empty      0.160879
groups     0.265758
lecture    0.490751
round      0.082612
dtype: float64